<%= form_for(@grade, :url => course_grade_path(@current_course, @grade)) do |f| %>
  <% if @grade.errors.any? %>
    <div class="error">
      <h3><%= pluralize(@grade.errors.count, "error") %> prevented this grade from being saved:</h3>
      <% @grade.errors[:base].each do |error| %>
        <%= error %>
      <% end %>
    </div>
  <% end %>
  
  <ol> 
    <li class="string required <%= "error" if @grade.errors[:title].any? %>" id="grade_score"> 
      <label for="course_title">Score<abbr title="required">*</abbr></label> 
      <%= f.text_field :score %>
      <p class="inline-hints">student's score out of 100</p> 
      <% @grade.errors[:score].each do |error| %>
         <p class="inline-errors"><%= error %></p> 
      <% end %>
    </li> 
    
    <li class="string <%= "error" if @grade.errors[:weight].any? %>" id="grade_score"> 
      <label for="course_title">Weight<abbr title="required">*</abbr></label> 
      <%= f.text_field :weight %>
      <p class="inline-hints">set a weight to be applied to this student's grade <em>only</em></p> 
      <% @grade.errors[:weight].each do |error| %>
         <p class="inline-errors"><%= error %></p> 
      <% end %>
    </li>
  </ol>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
