<style>
  .student {
    min-width:100px;
    border-right:dotted 1px black;
  }
  .assignment {
    min-width:60px;
    max-width:60px;
    white-space:nowrap;
    overflow:hidden;
  }
  th {
    padding: 0 5px;
  }
  .editable {
    width:60px;
    min-width:60px;
    max-width:60px;
    text-align:center;
  }
  <% if current_user.is_a?(Professor) %>
  .editable:hover {
    background-color:yellow;
  }
  <% end %>
  tr {
    height:40px;
  }
</style>
<script>
<% if current_user.is_a?(Professor) %>

    function hideGradeForm(form, score){
      $(form).hide();
      $("input", form).unbind("blur");
      $("input", form).blur();
      $("span.grade", $(form).parents("td")).text(score);
      $("span.grade", $(form).parents("td")).show();
    }
  
    function showGradeForm(form){
      $(form).show();
      $("span", $(form).parents("td")).hide();
      $("input", form).focus();
      $("input", form).blur(function(event){
        $(form).submit();
      });
    }
  
    function newGradeSuccessHandler(event, grade, status) {
      var gradeJSON = $.parseJSON(grade)
      hideGradeForm(event.target, gradeJSON.score);
      $(event.target).attr("action", gradeJSON.update_url)
      $(event.target).attr("method", "put")
      $("input[type=hidden]", event.target).remove();
      $(event.target).unbind("ajax:success")
      $(event.target).bind("ajax:success", updateGradeSuccessHandler);
    };

    function updateGradeSuccessHandler(event, grade, status){
      hideGradeForm(event.target, $.parseJSON(grade).score);
    };
  
    $(document).ready(function() {
      $("form").hide();
      $("td.editable").each(function(i, td){
        $(td).click(function(event){
          showGradeForm($("form", td));
        });
        if($("span.grade", td).text() == "--") { 
          $("form", td).bind("ajax:success", newGradeSuccessHandler);
        } else {
          $("form", td).bind("ajax:success", updateGradeSuccessHandler);
        };
        $("form", td).bind("ajax:failure", function(event, grade, status){
          alert("There was an error: " + grade.responseText);
          $("input", td).focus();
        });
      });
    });
<% else %>
  $(document).ready(function() {
    $("form").remove();
  });
<% end %>
</script>
<%= render :partial => "courses/header" %>
<% if @current_course.assignments.any? %>
  <p>
    All assignments are listed below.
  </p>
  <div style="width:100%;overflow-x:auto">
    <table>
      <tr>
        <th class="student">Student</th>
        <% @current_course.assignments.each do |assignment| %>
          <th class="assignment" title="<%= assignment.name %>"><%= assignment.name %></th>
        <% end %>
      </tr>
      <% @students.each do |student| %>
        <tr>
          <td class="student"><%= student.name %></td>
          <% @current_course.assignments.each do |assignment| %>
            <td id="student-<%= student.id %>-assign-<%= assignment.id %>" class="editable">
                <% if grade = student.grades.first(:conditions => {:assignment_id => assignment.id}) %>
                  <span class="grade"><%= grade.score %></span>
                  <%= form_for(grade, :url => course_grade_path(@current_course, grade, :format => :js), :remote => true) do |f| %>
                    <%= f.text_field :score, :size => 3, :style => "width:auto" %>
                  <% end %>
                <% else %>
                  <span class="grade">--</span>
                  <%= form_for(Grade.new, :url => course_grades_path(@current_course, :format => :js), :remote => true) do |f| %>
                    <%= f.text_field :score, :size => 3, :style => "width:auto" %>
                    <%= f.hidden_field :assignment_id, :value => assignment.id %>
                    <%= f.hidden_field :student_id, :value => student.id %>
                  <% end %>
                <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
<p>
  You don't have any graded assignments yet.  Would you like to <%= link_to "add one", new_course_assignment_path(@current_course) %>?
</p>
<% end %>