<style>
  .student {
    min-width:100px;
    border-right:dotted 1px black;
  }
  .assignment {
    min-width:60px;
    max-width:60px;
    white-space:nowrap;
    overflow:hidden;
  }
  th {
    padding: 0 5px;
  }
  .editable {
    width:60px;
    min-width:60px;
    max-width:60px;
    text-align:center;
  }
  <% if current_user.is_a?(Professor) %>
    .editable:hover {
      background-color:yellow;
    }
    #chart {
      width:300px;
      margin:auto;
    }
  <% end %>
  tr {
    height:40px;
  }
</style>
<script>
  <% if current_user.is_a?(Professor) %>
  
    function hideGradeForm(form, score){
      $(form).hide();
      $("input", form).unbind("blur");
      $("input", form).blur();
      $("span.grade", $(form).parents("td")).text(score);
      $("span.grade", $(form).parents("td")).show();
    }

    function showGradeForm(form){
      $(form).show();
      $("span", $(form).parents("td")).hide();
      $("input", form).focus();
      $("input", form).blur(function(event){
        $(form).submit();
      });
    }

    function newGradeSuccessHandler(status, grade, request) {
      hideGradeForm(this, grade.score);
      $(event.target).attr("action", grade.update_url);
      $(event.target).attr("method", "put");
      $("input[type=hidden]", this).remove();
      $(event.target).unbind("ajax:success");
      $(event.target).bind("ajax:success", updateGradeSuccessHandler);
    };

    function updateGradeSuccessHandler(status, grade, request){
      hideGradeForm(this, grade.score);
    };

    $(document).ready(function() {
      $(".grade-form").hide();
      $("td.editable").each(function(i, td){
        $(td).click(function(event){
          showGradeForm($("form", td));
        });
        if($("span.grade", td).text() == "--") { 
          $("form", td).bind("ajax:success", newGradeSuccessHandler);
        } else {
          $("form", td).bind("ajax:success", updateGradeSuccessHandler);
        };
        $("form", td).bind("ajax:error", function(request, status, error){
          alert("There was an error: " + error);
          $("input", td).focus();
        });
      });
      
      $("#weighting-form").bind("ajax:success", function(event){
        window.location.reload();
      }).bind("ajax:failure", function(event){
        alert("Could not save weighting.")
      });
      
      $('#weighting-button').click(function(event){
        $("#weighting-popup").modal({containerCss: {'background-color':'#fff',height:"80%",'overflow-y':'scroll'}});
        var values = <%= @current_course.assignments.map(&:weight).to_json %>;
        r = Raphael("chart", 300, 300);
        chart = r.piechart(150, 150, 125, values, {color:"blue",onchange:function(values){
          $.each(values, function(key, value){
            $($('#weighting-form input[type=text]')[key]).val(value);
          });
        }});
        event.preventDefault();
      });
      
      $('#grade-table').sorttable({items: '>:not(.nosort)'}).disableSelection();
      
    });
    
  <% else %>

    $(document).ready(function() {
      $("form").remove();
    });
  
  <% end %>
</script>
<%= render :partial => "courses/header" %>
<% if @current_course.assignments.any? %>
  <p>
    All assignments are listed below.
  </p>
  <% if current_user.is_a?(Professor) %>
    <div style="margin:10px 0">
      <%= link_to "#", :class => "grey-button pcb", :id => "weighting-button" do %>
        <span>Change grade weighting</span>
      <% end %>
    </div>
  <% end %>
  <div style="width:100%;overflow-x:auto">
    <table id="grade-table">
      <tbody>
      <tr>
        <th class="student nosort">Student</th>
        <% @current_course.assignments.each do |assignment| %>
          <th class="assignment" title="<%= assignment.name %>"><%= assignment.name %></th>
        <% end %>
        <% if current_user.is_a?(Professor) %>
          <th class="total">Overall</th>
        <% end %>
      </tr>
      <% @students.each do |student| %>
        <tr>
          <td class="student"><%= student.name %></td>
          <% @current_course.assignments.each do |assignment| %>
            <td id="student-<%= student.id %>-assign-<%= assignment.id %>" class="editable">
                <% if grade = student.grades.first(:conditions => {:assignment_id => assignment.id}) %>
                  <span class="grade"><%= grade.score %></span>
                  <%= form_for(grade, :url => course_grade_path(@current_course, grade, :format => :json), :remote => true, :html => {:class => "grade-form"}) do |f| %>
                    <%= f.text_field :score, :size => 3, :style => "width:auto" %>
                  <% end %>
                <% else %>
                  <span class="grade">--</span>
                  <%= form_for(Grade.new, :url => course_grades_path(@current_course, :format => :json), :remote => true, :html => {:class => "grade-form"}) do |f| %>
                    <%= f.text_field :score, :size => 3, :style => "width:auto" %>
                    <%= f.hidden_field :assignment_id, :value => assignment.id %>
                    <%= f.hidden_field :student_id, :value => student.id %>
                  <% end %>
                <% end %>
            </td>
          <% end %>
          <% if current_user.is_a?(Professor) %>
            <td><%= number_with_precision(@current_course.grade(student), :precission => 2, :strip_insignificant_zeros => true) %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
<p>
  You don't have any graded assignments yet.  Would you like to <%= link_to "add one", new_course_assignment_path(@current_course) %>?
</p>
<% end %>
<div id="weighting-popup" style="display:none">
  <h3>Grade weighting</h3>
  <div id="chart"></div>
  <%= form_tag adjust_weighting_course_assignments_path(@current_course), :method => "put", :remote => true, :id => "weighting-form" do %>
    <table>
      <tr>
        <th>Assignment</th>
        <th>Weight</th>
      </tr>
      <% @current_course.assignments.each do |assignment| %>
        <tr>
          <td><%= assignment.name %></td>
          <td><%= text_field_tag "weighting[#{assignment.id}]", assignment.weight %></td>
        </tr>
      <% end %>
    </table>
    <div align="center">
      <%= submit_tag "Save" %>
    </div>
  <% end %>
</div>