<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @grade.student_id %>
</p>

<p>
  <b>Assignment:</b>
  <%= @grade.assignment_id %>
</p>

<p>
  <b>Score:</b>
  <%= @grade.score %>
</p>


<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
