<%= form_for(@assignment, :url => url) do |f| %>
  <% if @assignment.errors.any? %>
    <div class="error">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prevented this assignment from being saved:</h2>
      <% @assignment.errors[:base].each do |error| %>
        <%= error %>
      <% end %>
    </div>
  <% end %>
  <ol> 
    <li class="string required <%= "error" if @assignment.errors[:name].any? %>"> 
      <label for="course_name">Name<abbr title="required">*</abbr></label> 
      <%= f.text_field :name %>
      <% @assignment.errors[:name].each do |error| %>
         <p class="inline-errors"><%= error %></p> 
      <% end %>
    </li>
    <li class="string required <%= "error" if @assignment.errors[:description].any? %>"> 
      <%= f.label :description, raw("Description<abbr>*</abbr>") %><br />
      <%= f.text_area :description %>
      <% @assignment.errors[:description].each do |error| %>
         <p class="inline-errors"><%= error %></p> 
      <% end %>
    </li>
    <li>
      <label for="assignment_accepting_submissions">
        <%= f.check_box :accepting_submissions, :checked => true %>  Students will submit work.
      </label>
      <script>
        $("#assignment_accepting_submissions").click(function(event){
          if($(event.target).attr("checked")) {
            $("#due_date_box").show(100);
            $("#due_date_box > select").removeAttr('disabled');
          } else {
            $("#due_date_box").hide(100);
            $("#due_date_box > select").attr('disabled', 'disabled');
          }
        });
      </script>
    </li>
    <li class="date required" id="due_date_box"> 
      <fieldset>
        <h5 class="legend"><span class="label">Due date*</span></h5> 
        <%= f.datetime_select :due_at, :default => 1.week.from_now %>
        <% @assignment.errors[:due_at].each do |error| %>
        <p class="inline-errors"><%= error %></p> 
        <% end %>
      </fieldset>
    </li>
  </ol>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
