<% content_for :ready do %>
  $(".sortable").tablesorter();
<% end %>
<%= render :partial => "courses/header" %>
<h3>Enrolled students</h3>
<% if @students.any? %>
  <table style="padding:15px" class="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <% if %(Admin Professor).include?(current_user.type) %>
          <th>Email</th>
          <th>Last sign in</th>
          <th>Manage</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <% if %(Admin Professor).include?(current_user.type) %>
          <td>
            <%= mail_to student.email %>
          <td>
            <%= student.last_sign_in_at.nil? ? "Never" : time_ago_in_words(student.last_sign_in_at) %>
          </td>
          <td>
            <%= link_to "Unenroll", unenroll_course_student_path(@current_course, student), :method => :delete %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div style="margin:20px 50px">No students have been enrolled yet.</div>
<% end %>

<% if %(Admin Professor).include?(current_user.type) %>
  <%= link_to new_course_student_path(@current_course), :class => "green-button pcb" do %>
    <span>Add students to this course</span>
  <% end %>
<% end %>