<%= render :partial => "courses/header" %>

<h3 style="margin-top:15px">Add a student</h3>

<%= form_for(@student, :url => enroll_course_students_path(@current_course)) do |f| %>
  <% if @student.errors.any? %>
    <div class="error">
      <h3><%= pluralize(@student.errors.count, "error") %> prevented this course from being saved:</h3>
      <% @student.errors[:base].each do |error| %>
        <%= error %>
      <% end %>
    </div>
  <% end %>
  
  <ol> 
    <li class="string required <%= "error" if @student.errors[:email].any? %>"> 
      <label for="student_email">Email<abbr title="required">*</abbr></label> 
      <%= f.text_field :email %>
      <% @student.errors[:email].each do |error| %>
         <p class="inline-errors"><%= error %></p> 
      <% end %>
    </li> 
  </ol>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<p><h1 style="text-align:center">OR</h1></p>

<h3 style="margin-top:15px">Import a roster of students</h3>
<%= form_tag import_course_students_path(@current_course), :multipart => true do %>
  <ol>
    <li class="file required"> 
      <%= label :roster, raw("Roster<abbr>*</abbr>") %><br />
      <%= file_field_tag "roster" %>
      <p class="inline-hints">csv file containing a list of students to add</p> 
    </li>
  </ol>
  <div class="actions">
    <%= submit_tag "Submit" %>
  </div>
<% end %>
