<%= render :partial => "courses/header" %>

<h3>New student</h3>

<%= form_for(@student, :url => course_students_path(Course.find(params[:course_id]))) do |f| %>
  <% if @student.errors.any? %>
    <div class="error">
      <h3><%= pluralize(@student.errors.count, "error") %> prevented this course from being saved:</h3>
      <% @student.errors[:base].each do |error| %>
        <%= error %>
      <% end %>
    </div>
  <% end %>
  
  <ol> 
    <li class="string required <%= "error" if @student.errors[:email].any? %>"> 
      <label for="student_email">Email<abbr title="required">*</abbr></label> 
      <%= f.text_field :email %>
      <% @student.errors[:email].each do |error| %>
         <p class="inline-errors"><%= error %></p> 
      <% end %>
    </li> 
  </ol>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
