<%= form_for(@document, :html => {:multipart => true}, :url => course_documents_path(Course.find(params[:course_id]))) do |f| %>
  <% if @document.errors.any? %>
  <div class="error">
    <h3><%= pluralize(@document.errors.count, "error") %> prevented this course from being saved:</h3>
    <% @document.errors[:base].each do |error| %>
      <%= error %>
    <% end %>
  </div>
  <% end %>
  <ol>
    <li class="string required <%= "error" if @document.errors[:name].any? %>"> 
      <%= f.label :name, raw("Name<abbr>*</abbr>") %><br />
      <%= f.text_field :name %>
      <% @document.errors[:name].each do |error| %>
         <p class="inline-errors"><%= error %></p> 
      <% end %>
    </li>
    <li class="string required <%= "error" if @document.errors[:description].any? %>"> 
      <%= f.label :description, raw("Description<abbr>*</abbr>") %><br />
      <%= f.text_field :description %>
      <% @document.errors[:description].each do |error| %>
         <p class="inline-errors"><%= error %></p> 
      <% end %>
    </li>
    <li class="file required"> 
      <%= f.label :attached, raw("Attachment<abbr>*</abbr>") %><br />
      <%= f.file_field :attached %>
      <p class="inline-hints">currently only word documents and pdfs are allowed</p> 
      <% @document.errors[:attached_file_name].each do |error| %>
         <p class="inline-errors">File <%= error %></p> 
      <% end %>
      <% @document.errors[:attached_file_size].each do |error| %>
         <p class="inline-errors"><%= error %></p> 
      <% end %>
      <% @document.errors[:attached_content_type].each do |error| %>
         <p class="inline-errors"><%= error %></p> 
      <% end %>
    </li>
  </ol>
  <%= hidden_field_tag "attachable[attachable_id]", params[:course_id] %>
  <%= hidden_field_tag "attachable[attachable_type]", "Course" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
