<% if @submission.errors.any? %>
<div class="error">
  <h3><%= pluralize(@submission.errors.count, "error") %> prevented this course from being saved:</h3>
  <% @submission.errors[:base].each do |error| %>
    <%= error %>
  <% end %>
</div>
<% end %>
<ol>
  <li class="file required"> 
    <%= f.label :upload, raw("File<abbr>*</abbr>") %><br />
    <%= f.file_field :upload %>
    <p class="inline-hints">currently only word documents and pdfs are allowed</p> 
    <% @submission.errors[:upload_file_name].each do |error| %>
       <p class="inline-errors">File <%= error %></p> 
    <% end %>
    <% @submission.errors[:upload_file_size].each do |error| %>
       <p class="inline-errors"><%= error %></p> 
    <% end %>
    <% @submission.errors[:upload_content_type].each do |error| %>
       <p class="inline-errors"><%= error %></p> 
    <% end %>
  </li>
  <% if  current_user.is_a?(Professor) %>
    <% %>
    <li>
      <%= f.label :student_id, raw("Student<abbr>*</abbr>") %><br />
      <%= f.select :student_id, options_for_select(@current_course.students.select{|s| !Assignment.find(params[:assignment_id]).submitted?(student) }.map{|s| [s.name, s.id] }) %>
    </li>
  <% end %>
  <li>
</ol>
<%= f.hidden_field :assignment_id, :value => params[:assignment_id] %>
<div class="actions">
  <%= f.submit %>
</div>