<style>
  .editable {
    width:60px;
    min-width:60px;
    max-width:60px;
    text-align:center;
  }
  .editable:hover {
    background-color:yellow;
  }
</style>
<%= javascript_include_tag 'grade-ajax' %>
<% content_for :ready do %>
  $(".editable form").hide();
<% end %>
<%= render :partial => "courses/header" %>
<h3>Student submissions for "<%= Assignment.find(params[:assignment_id]).name %>"</h3>
<table>
  <tr>
    <th>Student</th>
    <th>Submission</th>
    <th>Submitted at</th>
    <th>Grade</th>
  </tr>
  <% @submissions.each do |submission| %>
    <tr>
      <td><%= submission.student.name %></td>
      <td><%= link_to submission.upload.original_filename, submission.upload.url %></td>
      <td><%= submission.created_at.to_s(:short) %></td>
      <td class="editable">
        <% if grade = submission.student.grades.first(:conditions => {:assignment_id => submission.assignment.id}) %>
          <span class="grade"><%= grade.score %></span>
          <%= form_for(grade, :url => course_grade_path(@current_course, grade, :format => :json), :remote => true) do |f| %>
            <%= f.text_field :score, :size => 3, :style => "width:auto" %>
          <% end %>
        <% else %>
          <span class="grade">--</span>
          <%= form_for(Grade.new, :url => course_grades_path(@current_course, :format => :json), :remote => true) do |f| %>
            <%= f.text_field :score, :size => 3, :style => "width:auto" %>
            <%= f.hidden_field :assignment_id, :value => submission.assignment.id %>
            <%= f.hidden_field :student_id, :value => submission.student.id %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<p>
  <%= link_to course_assignment_submissions_path(@current_course, Assignment.find(params[:assignment_id]), :format => :zip), :class => "grey-button pcb" do %>
    <span>Download all submissions</span>
  <% end %>
</p>
<% unless @current_course.students.all?{|s| Assignment.find(params[:assignment_id]).submitted?(s) } %>
<div>
  <p>Submit assignment on behalf of a student:</p>
  <%= link_to new_course_assignment_submission_path(@current_course, Assignment.find(params[:assignment_id])), :class => "green-button pcb" do %>
    <span>Upload a submission</span>
  <% end %>
</div>
<% else %>
All students have submitted this assignment!
<% end %>
