<style>
  tr.inactive {
    display:none;
    background-image:url(/images/diagonal.png);
  }
  
  table#course-listing a {
    color:#000;
  }
  
  table#course-listing tr#toggler td {
    border-bottom:none;
    padding:10px;
  }
  
  a.course-link {
    padding-left:10px;
    font-weight:bold; 
  }
</style>
<h1>Your courses</h1>

<table id="course-listing">
  <tr>
    <th>Title</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Students</th>
    <% if %(Admin Professor).include?(current_user.type) %>
      <th>Manage</th>
    <% end %>
  </tr>

<% (@courses.select(&:active?)+@courses.reject(&:active?)).each do |course| %>
  <tr class="<%= !course.active? ? 'inactive' : nil %>">
    <td><%= link_to course.title, course, :class => "course-link" %></td>
    <td><%= course.begins_on %></td>
    <td><%= course.ends_on %></td>
    <td><%= link_to course.students.count, course_students_path(course) %>
    <% if %(Admin Professor).include?(current_user.type) %>
      <td>
        <%= link_to edit_course_path(course), :class => "grey-button pcb" do %>
          <span>Edit</span>
        <% end %>
        <%= link_to course_path(course), :method => :delete, :confirm => "Are you sure you want to delete this course?  This cannot be undone!", :class => "red-button pcb" do %>
          <span>Delete</span>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
  <tr id="toggler"><td colspan="5" align="center"><%= link_to_function raw("Show all courses &#9660;"), "$('tr.inactive').toggle(); $(this).html(($(this).text() == 'Show all courses ▼') ? 'Show active courses &#9650;' : 'Show all courses &#9660;');" %></td></tr>
</table>



<br />

<% if %(Admin Professor).include?(current_user.type) %>
  <%= link_to new_course_path, :class => "green-button pcb" do %>
    <span>New Course</span>
  <% end %>
<% end %>
