<style>
  tr.inactive {
    display:none;
  }
</style>
<h1>Active courses</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Students</th>
    <% if %(Admin Professor).include?(current_user.type) %>
      <th>Manage</th>
    <% end %>
  </tr>

<% @courses.active.each do |course| %>
  <tr>
    <td><%= link_to course.title, course %></td>
    <td><%= course.begins_on %></td>
    <td><%= course.ends_on %></td>
    <td><%= link_to course.students.count, course_students_path(course) %>
    <% if %(Admin Professor).include?(current_user.type) %>
      <td>
        <%= link_to 'Edit', edit_course_path(course) %>
      </td>
    <% end %>
  </tr>
<% end %>

<% @courses.inactive.each do |course| %>
  <tr class="inactive">
    <td><%= link_to course.title, course %></td>
    <td><%= course.begins_on %></td>
    <td><%= course.ends_on %></td>
    <td><%= link_to course.students.count, course_students_path(course) %>
    <% if %(Admin Professor).include?(current_user.type) %>
      <td>
        <%= link_to 'Edit', edit_course_path(course) %>
      </td>
    <% end %>
  </tr>
<% end %>

</table>

<p><%= link_to_function "Toggle all courses", "$('tr.inactive').toggle()" %></p>

<br />

<% if %(Admin Professor).include?(current_user.type) %>
  <%= link_to new_course_path, :class => "green-button pcb" do %>
    <span>New Course</span>
  <% end %>
<% end %>
