<style>
  .filelist {
    padding: 20px 0 0 20px;
  }
  .filelist dd {
    margin-left: 40px;
  }
  .filelist dd.top {
    padding: 5px 0 0 10px;
  }
  .filelist dd.bottom {
    padding: 0 0 5px 10px;
  }
  .filelist dt {
    font-size:15px;
    font-weight:bold;
    font-variant:small-caps;
    text-align:center;
  	clear: left;
  	float: left;
  	width: 30px;
  	height:30px;
  	margin: 0;
  	padding: 5px;
  }
  
  .filelist dt a {
    font-size:15px;
    font-weight:bold;
    font-variant:small-caps;
    text-decoration:none;
    color:#fff;
  }
  
  .filelist dt a:hover {
    color:#fff;
  }
  
  .filelist dt a:visited {
    color:#fff;
  }
  
  .doc, .docx {
    background-color:#1E90FF;
  }
  .pdf {
    background-color:#B22222;
  }
  
  .due-date {
    color:red;
    float:right;
  }
</style>

<%= render :partial => "courses/header" %>

<div style="margin-top:20px">
  <h3>Recent announcements</h3>
  <% if @course.announcements.any? %>
    <dl style="padding:15px">
      <% @course.announcements.each do |announcement| %>
        <dt><%= announcement.subject %></dt>
        <dd><%= truncate_html(announcement.body, :length => 200, :omission => "... "+link_to("(More)", course_announcement_path(@course, announcement))) %>
      <% end %>
    </dl>
  <% else %>
    <div style="margin:20px 50px">No announcements have been posted yet.</div>
  <% end %>
  <div>
    <%= link_to new_course_announcement_path(@course), :class => "green-button pcb" do %>
      <span>Make an announcement</span>
    <% end %>
  </div>
</div>

<div style="margin-top:20px">
  <h3>Assignments</h3>
  <% if @course.assignments.any? %>
  <dl style="padding:15px">
    <% @course.assignments.each do |assignment| %>
      <dt><%= assignment.name %></dt>
      <dd class="due-date">DUE: <%= assignment.due_at %></dd>
      <dd><%= truncate_html(assignment.description, :length => 200, :omission => "... "+link_to("(More)", course_assignment_path(@course, assignment))) %>
    <% end %>
  </dl>
  <% else %>
    <div style="margin:20px 50px">No assignments have been posted yet.</div>
  <% end %>
  <div>
    <%= link_to new_course_assignment_path(@course), :class => "green-button pcb" do %>
      <span>Post an assignment</span>
    <% end %>
  </div>
</div>

<div style="margin-top:20px">
  <h3>Course files</h3>
  <% if @course.uploads.any? %>
    <dl class="filelist">
    <% @course.uploads.each do |upload| %>
      <% ext = File.extname(upload.attached.original_filename).gsub(/^\.+/, "") %>
      <dt class="<%= ext %>">
        <%= link_to ext, upload.attached.url %>
      </dt>
      <dd class="top">
        <h4 style="display:inline"><%= upload.name %></h4>
      </dd>
      <dd class="bottom">
        <span style="color:#D8D8D8;"><%= upload.description %></span>
      </dd>
    <% end %>
    </dl>
    <div style="clear:both">&nbsp;</div>
  <% else %>
    <div style="margin:20px 50px">No files have been posted yet.</div>
  <% end %>
  <div>
    <%= link_to new_course_upload_path(@course), :class => "green-button pcb" do %>
      <span>Upload a file</span>
    <% end %>
  </div>
</div>

<div style="margin-top:20px">
  <h3>Course links</h3>
  <% if @course.links.any? %>
    <dl style="padding:15px">
      <% @course.links.each do |link| %>
        <dt><%= link_to link.name, link.url %></dt>
        <dd><%= link.description %></dd>
      <% end %>
    </dl>
  <% else %>
    <div style="margin:20px 50px">No links have been posted yet.</div>
  <% end %>
  <div>
    <%= link_to new_course_link_path(@course), :class => "green-button pcb" do %>
      <span>Post a link</span>
    <% end %>
  </div>
</div>