<style>
  .filelist {
    padding: 20px 0 0 20px;
  }
  .filelist dd {
    margin-left: 40px;
  }
  .filelist dd.top {
    padding: 10px 0 0 10px;
  }
  .filelist dd.bottom {
    padding: 0 0 5px 10px;
  }
  .filelist dt {
    text-align:center;
  	clear: left;
  	float: left;
  	margin-right: 5px;
  }
  
  .filelist dt a.file-link {
    font-size:15px;
    font-weight:bold;
    font-variant:small-caps;
    font-size:15px;
    font-weight:bold;
    font-variant:small-caps;
    text-decoration:none;
    color:#fff;
    display:block;
    padding:5px 5px 15px 5px;
    
  }
  
  .filelist dt a.file-link:hover {
    color:#fff;
  }
  
  .filelist dt a.file-link:visited {
    color:#fff;
  }
  
  .filelist dt span.editbox {
    position:absolute;
    z-index:1000;
    left:-50px;
    top:0px;
    display:none;
    padding:0px 30px 20px 0px;
  }
  
  .doc, .docx {
    background-color:#1E90FF;
  }
  .pdf {
    background-color:#B22222;
  }
  
  .due-date {
    color:red;
    float:right;
  }
</style>

<%= render :partial => "courses/header" %>

<div style="margin-top:20px">
  <h3>Recent announcements</h3>
  <% if @course.announcements.any? %>
    <dl style="padding:15px">
      <% @course.announcements.order("created_at desc").limit(3).each do |announcement| %>
        <dt><%= announcement.subject %></dt>
        <dd><%= truncate_html(announcement.body, :length => 200, :omission => "... "+link_to("(More)", course_announcement_path(@course, announcement))) %>
      <% end %>
    </dl>
  <% else %>
    <div style="margin:20px 50px">No announcements have been posted yet.</div>
  <% end %>
  <% if %(Admin Professor).include?(current_user.type) %>
    <div>
      <%= link_to new_course_announcement_path(@course), :class => "green-button pcb" do %>
        <span>Make an announcement</span>
      <% end %>
    </div>
  <% end %>
</div>

<div style="margin-top:20px">
  <h3>Assignments</h3>
  <% if @course.assignments.written.any? %>
  <dl style="padding:15px">
    <% @course.assignments.written.active.order("due_at").each do |assignment| %>
      <dt><%= link_to assignment.name, course_assignment_path(@course, assignment) %></dt>
      <% if current_user.is_a?(Student) %>
        <% unless submission = current_user.submissions.where(:assignment_id => assignment.id).last %>
          <dd class="due-date">DUE: <%= assignment.due_at %></dd>
        <% else %>
          <dd class="due-date">Submitted!<dd>
        <% end %>
      <% end %>
      <dd><%= truncate_html(assignment.description, :length => 200, :omission => "... "+link_to("(More)", course_assignment_path(@course, assignment))) %>
    <% end %>
  </dl>
  <% else %>
    <div style="margin:20px 50px">No assignments have been posted yet.</div>
  <% end %>
  <% if %(Admin Professor).include?(current_user.type) %>
    <div>
      <%= link_to new_course_assignment_path(@course), :class => "green-button pcb" do %>
        <span>Post an assignment</span>
      <% end %>
    </div>
  <% end %>
</div>

<div style="margin-top:20px">
  <h3>Course files</h3>
  <% if @course.documents.any? %>
    <dl class="filelist" id="course-file-list">
    <% @course.documents.order("created_at desc").each do |document| %>
      <% ext = File.extname(document.attached.original_filename).gsub(/^\.+/, "") %>
      <dt class="<%= ext %>" style="position:relative">
        <%= link_to ext, document.attached.url, :class => "file-link" %>
        <span class="editbox">
          <%= link_to "Edit", edit_course_document_path(@course, document) %>
        </span>
      </dt>
      <dd class="top">
        <h4 style="display:inline"><%= document.name %></h4>
      </dd>
      <dd class="bottom">
        <span style="color:#D8D8D8;"><%= document.description %></span>
      </dd>
    <% end %>
    </dl>
    <div style="clear:both">&nbsp;</div>
  <% else %>
    <div style="margin:20px 50px">No files have been posted yet.</div>
  <% end %>
  <% if %(Admin Professor).include?(current_user.type) %>
    <div>
      <%= link_to new_course_document_path(@course), :class => "green-button pcb" do %>
        <span>Upload a file</span>
      <% end %>
    </div>
  <% end %>
</div>
<script>
  $("#course-file-list dt").hover(function(event){
    $(".editbox", $(event.target).closest("dt")).show();
  }, function(event){
    $(".editbox").hide();
  });
</script>

<div style="margin-top:20px">
  <h3>Course links</h3>
  <% if @course.links.any? %>
    <dl style="padding:15px">
      <% @course.links.order("created_at desc").each do |link| %>
        <dt><%= link_to link.name, link.url %></dt>
        <dd><%= link.description %></dd>
      <% end %>
    </dl>
  <% else %>
    <div style="margin:20px 50px">No links have been posted yet.</div>
  <% end %>
  <% if %(Admin Professor).include?(current_user.type) %>
    <div>
      <%= link_to new_course_link_path(@course), :class => "green-button pcb" do %>
        <span>Post a link</span>
      <% end %>
    </div>
  <% end %>
</div>