<style>
.posts div.preview {
  font-size:1.2em;
}

.posts div.byline {
  color: #bbb;
}

.posts td.reply_count {
  font-size:3em;
  text-align:center;
}

.posts td.reply_count a {
  text-decoration:none;
  color:#000;
}

.posts td.reply_count a:hover, .posts td.reply_count a:visited {
  color:#000;
}
</style>
<% content_for :ready do %>

  PostRow = ActiveView.create(function(builder,dom){  
    var post = this.get('post');
    return builder.tr(  
      builder.td(
          builder.div({className:"preview"}, post["body"]),
          builder.div({className:"byline"}, post["author"]["name"])
      ),
      builder.td(
        {className:"reply_count"},
        builder.a({href:post["url"], className:post["reply-count"] == 0 ? "green-button pcb": ""}, post["reply-count"] != 0 ? post["reply-count"] : builder.span("Reply"))
      )
    );  
  });
  
  $("#more-posts-link").bind("ajax:success", function(event, request){
    $(request["posts"]).each(function(i, post){
      var rowHtml = (new PostRow({post:post})).getElement();
      $("#posts-table tbody").append(rowHtml);
    });
    if(request["next-page"] != null){
      $("#more-posts-link").attr("href", request["next-page"]);
    }else{
      $("#more-posts-link").remove();
    }
  }).bind("ajax:error", function(event, request, status){
    alert("There was an error load additional posts.  We have been notified and it should be fixed shortly.")
  });
<% end %>
<%= render :partial => "courses/header" %>
<h3>Discussion posts</h3>

<table class="posts" id="posts-table">
  <thead>
    <tr>
      <th>Post</th>
      <th>Replies</th>
    </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td>
        <div class="preview"><%= truncate(post.body, :length => 600) %></div>
        <div class="byline">posted by <%= post.author.name %> <%= time_ago_in_words(post.created_at) %> ago</div>
      </td>
      <td class="reply_count">
        <% unless post.replies.count == 0 %>
          <%= link_to(post.replies.count, course_post_path(@current_course, post)) %></td>
        <% else %>
          <%= link_to course_post_path(@current_course, post), :class => "green-button pcb" do %>
            <span>Reply</span>
          <% end %>
        <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<div style="text-align:center">
  <%= link_to "Older posts...", course_posts_url(@course, :page => 2, :format => :json), :remote => true, :class => "more", :id => "more-posts-link" %>
</div>


<%= link_to new_course_post_path(@course), :class => "green-button pcb" do %>
  <span>Add a post</span>
<% end %>