<!DOCTYPE html>
<html>
<head>
  <title>Whiteboard</title>
  <%= stylesheet_link_tag "flutie" %>
  <%= stylesheet_link_tag "buttons", "simple-modal/basic", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'jquery.simplemodal' %>
  <%= javascript_include_tag 'jquery.ajaxmanager' %>
  <%= javascript_include_tag 'jquery.cookies.2.2.0.min' %>
  <%= javascript_include_tag 'jquery.tablesorter.min' %>
  <%= javascript_include_tag 'jquery.sorttable' %>
  <%= javascript_include_tag 'raphael-min' %>
  <%= javascript_include_tag 'adjustable-pie-chart' %>
  <%= javascript_include_tag 'active_view' %>
  <%= javascript_include_tag 'jquery.spinner' %>
  
  <%= csrf_meta_tag %>
  <style type="text/css"> 
  /* These are styles to make the page look nice */

  body { background-color: #222;}
  
  #main div {margin-bottom:10px;}
  
  #content {
    background: #fff;
    padding: 25px 40px;
    margin: 40px auto;
    margin-bottom:5px;
    width: 880px;
    min-height:200px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
  }
  
  #masthead {
    font-weight:bold;
    color:#ffffff;
    font-size:120px;
    padding: 0px;
    margin: 0px auto -60px auto;
    width: 880px;
    text-align:center;
  }
  #footer {
    color:#ccc;
    width:880px;
    text-align:left;
    margin:auto;
  }
  #sitenav {
    float:left;
    list-style:none;
    text-align:center;
  }
  #sitenav a {
    background-color:#222;
    color:#fff;
    padding:10px;
    margin:2px;
    float:left;
    width:100px;
    border:dashed 2px #222;
  }
  
  #sign-out-link:visited {
    background-color:#fff;
    color:#222;
    border:dashed 2px #222;
  }
  
  #sitenav a:hover {
    background-color:#fff;
    color:#222;
    border:solid 2px #222;
  }
  
  a.color-changer {
    padding:2px 5px;
    font-size:8px;
    vertical-align:top;
    margin-left:5px;
    text-decoration:none;
  }
  
  #sitenav a, #sitenav a:hover, #sitenav a:visited, #sitenav a:active {
    text-decoration:none;
  }
  
  .site-pages a, .site-pages a:hover, .site-pages a:visited, .site-pages a:active {
    text-decoration:none;
    color:#ccc;
  }
  
  .course-nav {
    margin:5px 0 15px 0;
  }
  
  .course-nav a, .course-nav a:hover,.course-nav a:visited,.course-nav a:active {
    text-decoration: none !important;
    color:#000;
    font-weight: bold;
  }
  
  .course-nav a:hover{
    color:#ccc;
  }
  
  .more {
  	background-color:#ededed;
  	-moz-border-radius:6px;
  	-webkit-border-radius:6px;
  	border-radius:6px;
  	border:1px solid #dcdcdc;
  	display:inline-block;
  	color:#777777 !important;
  	font-family:arial;
  	font-size:15px;
  	font-weight:bold;
  	padding:6px 24px;
  	text-decoration:none !important;
  }
  
  .more:hover {
  	background-color:#dfdfdf;
  }
  
  .more:active {
  	position:relative;
  	top:1px;
  }
  
  </style>
  <script>
    $(document).ready(function() {
      var color = $.cookies.get("bg-color");
      if(color)
        $(document.body).css({"background-color":color});
      <%= yield :ready %>
    });
    
    feedbackForm = function(){
			$.get("<%= feedback_form_path %>", function(data){
				$(data).modal({containerCss: {'background-color':'#fff','width':475, 'height':400}});
			});
    };
  </script>
</head>
<body>
  <div id="masthead">WHITEBOARD</div>
  <div id="content">
    <% if notice %><div class="notice"><%= notice %></div><% end %>
    <% if alert %><div class="error"><%= alert %></div><% end %>
    <div style="display:block;clear:both">&nbsp;</div>
    <div style="float:left;width:150px">
      <% if user_signed_in? %>
        <ul id="sitenav">
          <li><%= link_to "Your account", user_path(current_user) %></li>
          <li><%= link_to "Your courses", courses_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :id =>"sign-out-link" %></li>
          <% if current_user.is_a?(Admin) %>
            <li><%= link_to "Professors", professors_path %></li>
          <% end %>
        </ul>
      <% else %>
        <div style="margin-top:5px">
          <p>This is is currently in "private alpha mode," which sounds cool but pretty much means there is no way to register.  You have to already have an account.</p>
        </div>
      <% end %>
    </div>
    <div style="padding-left:160px" id="main"><%= yield %></div>
  </div>
  <div id="footer">
    <span class="site-pages"><%= link_to "ABOUT", page_path("about") %> // <%= link_to "FAQ", page_path("faq") %> // <%= link_to_function "FEEDBACK", "feedbackForm()" %></span>
    <span id="color-changers">
      <% 5.times do %>
        <a href="#" class="color-changer" style="background-color:#<%= "%06x" % (rand * 0xffffff) %>">&nbsp;</a>
      <% end %>
    <span>
    <script>
      $("#color-changers a").each(function(i,l){
        $(l).click(function(){
          var color = $(l).css("background-color");
          $(document.body).animate({ "background-color": color }, 1000);
          $.cookies.set("bg-color", color, {expiresAt:new Date( 2100, 1, 1 )});
          return false;
        });
      });
    </script>
    <span style="float:right"><%= Grit::Repo.new(Rails.root + '.git').recent_tag_name rescue "" %></span>
  </div>
</body>
</html>
