<!DOCTYPE html>
<html>
<head>
  <title>Whiteboard</title>
  <%= stylesheet_link_tag :flutie, "buttons" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
  <style type="text/css"> 
  /* These are styles to make the page look nice */

  body { background-color: #222;}
  .content {
    background: #fff;
    padding: 25px 40px;
    margin: 40px auto;
    margin-bottom:5px;
    width: 880px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
  }
  
  #masthead {
    font-weight:bold;
    color:#ffffff;
    font-size:120px;
    padding: 0px;
    margin: 0px auto -60px auto;
    width: 880px;
    text-align:center;
  }
  #footer {
    color:#ccc;
    width:880px;
    text-align:left;
    margin:auto;
  }
  #sitenav {
    list-style:none;
  }
  #sitenav li {
    margin:10px;
  }
  #sitenav a {
    text-decoration:none;
    background-color:#222;
    color:#fff;
    padding:5px;
  }
  #sitenav a:hover {
    background-color:#fff;
    color:#222;
    border:solid 1px #222;
  }
  </style>
</head>
<body>
  <div id="masthead">WHITEBOARD</div>
  <div class="content">
    <% if notice %><div class="notice"><%= notice %></div><% end %>
    <% if alert %><div class="error"><%= alert %></div><% end %>
    <div style="display:block;clear:both">&nbsp;</div>
    <div style="float:left;width:150px">
      <% if user_signed_in? %>
        <ul id="sitenav">
          <li><%= link_to "Your courses", courses_path %>
          <li><%= link_to "Sign out", destroy_user_session_path %>
        </ul>
      <% else %>
        <div style="margin-top:5px">
          <p>This is is currently in "private alpha mode," which sounds cool but pretty much means there is no way to register.  You have to already have an account.</p>
        </div>
      <% end %>
    </div>
    <div style="padding-left:160px"><%= yield %></div>
  </div>
  <div id="footer">ABOUT // FAQ // LEGAL</div>
</body>
</html>
